body {
	background-color:#ADD8E6;
}

#shop-name {
	font-size: 10pc;
	text-align: center;
	margin: auto auto 5pc auto;
	background-image: url("https://s3-media3.fl.yelpcdn.com/bphoto/poo1lcOjrY4MiqwQHAKkLg/ls.jpg");
	border-radius: 10%;
	animation-name: color_anim;
	animation-duration: 7.5s;
	animation-iteration-count: infinite;
}

#all-animals{
	margin:0 auto;
}

#all-animals > .animal {
	width:900px;
	height: 500px;
	margin:auto auto 20px auto;
	//display:inline-block;
	border: 1px solid black;
	border-radius: 2%;
	text-align: center;
}

.animal > img {
	margin: 0 auto 50px auto;
	width: 400px;
	height: 250px;
	border-radius: 3%;
}

.animal > h2 {
	font-family: "fantasy";
}

.animal > p {
	font-size: 20px;
	font-family:"courier";
	width: 415px;
	margin: 0 auto;
	color: green;
}

#fairy {
	background-color: rgba(255,0,0,0.15)
}

#penguins {
	background-color: rgba(0,255,0,0.15)
}

#Elephants {
	background-color: rgba(0,0,255,0.15)
}

#Rats {
	background-color: rgba(255,255,0,0.15)
}

#human {
	background-color: rgba(102,255,102,0.15)
}

audio {
	display:none;
}

@keyframes color_anim {
	0% {color:black;}
	25% {color:yellow;}
	50% {color:white;}
	75% {color:red;}
	100% {color:black;}
}